<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome in Inspinia Angular 4 Starter Project
                </h1>
            </div>
          <div id="chart2" [appOptions]="optionData" style="width: 900px;height:500px;"></div>
        <div>
          <ul>
            <li *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }"> {{item}} </li>
          </ul>

          <app-pagination-controls (pageChange)="p = $event"></app-pagination-controls>
        </div>
        </div>
    </div>
</div>
